.login {
    height: 100vh;
    background: rgba(0,0,0,0.4);
}

.center {
	display: flex;
    justify-content: center;
    align-items: center;
}
.loginFormContainer {
    height: 400px;
    width: 600px;
    border-radius: 10px;
    flex-direction: column !important;
    background: white;
    display: block;
    padding: 10px;
}
.avatarImage {
	width: 160px;
	height: 160px;
}
.userNameField {
	margin: 10px;
}
input {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;	
    border-radius: 10px;
}

button {
	width: 90%;
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.passwordField {
	margin: 10px;
}